### Creating Connection to Postgres database and performing CRUD Operations

In [9]:
import psycopg2

In [10]:
try:
    conn = psycopg2.connect('host = 127.0.0.1 dbname=studentdb user=postgres password=enter_your_password')
except psycop2.Error as e:
    print("error in connecting to database")

try:
    curr = conn.cursor()
except psycop2.Error as e:
    print("error in creating cursor")

In [11]:
conn.set_session(autocommit = True)

In [12]:
#creating the tables
try:
    curr.execute("create table if not exists music_library(album_id int,\
                                                            album_name varchar(100),\
                                                            artist_name varchar(100),\
                                                             year int,\
                                                              songs text[]);")
except psycopg2.Error as e:
    print("error in creating the table")
    print(e)
    

#inserting the values
try:
    curr.execute("insert into music_library(album_id,album_name,artist_name,year,songs)\
                  values (%s,%s,%s,%s,%s)",\
                (1,"Rubber Soul","The Beatles",1965,["Michelle","Think for yourself","In My Life"]))
except psycopg2.Error as e:
    print("Error in inserting rows")
    print(e)
    
    
try:
    curr.execute("insert into music_library(album_id,album_name,artist_name,year,songs)\
                  values (%s,%s,%s,%s,%s)",\
                (2,"Let It be","The Beatles",1970,["Let It Be","Across The Universe"]))
except psycopg2.Error as e:
    print("Error in inserting rows")
    print(e)
    

#display the results
try:
    curr.execute("select * from music_library")
except psycopg2.Error as e:
    print("error in displaying the table")
    print(e)

In [13]:
try:
    curr.execute("select * from music_library")
except psycopg2.Error as e:
    print("error in displaying the table")
    print(e)

In [14]:
curr.fetchall()

[(1,
  'Rubber Soul',
  'The Beatles',
  1965,
  ['Michelle', 'Think for yourself', 'In My Life']),
 (2, 'Let It be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])]

In [15]:
#updating the tables
try:
    curr.execute("update music_library set year = 1978 where album_id = 1")
except psycopg2.Error as e:
    print("error in updating the table")
    print(e)

In [17]:
#displaying the results to see the updated value
try:
    curr.execute("select * from music_library")
except psycopg2.Error as e:
    print("error in displaying the table")
    print(e)
    
curr.fetchall()

[(2, 'Let It be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe']),
 (1,
  'Rubber Soul',
  'The Beatles',
  1978,
  ['Michelle', 'Think for yourself', 'In My Life'])]

In [19]:
#delete
try:
    curr.execute("delete from music_library where album_id = 1")
except psycopg2.Error as e:
    print("error in deleting  the table")
    print(e)

In [20]:
#displaying the results to see the updated value
try:
    curr.execute("select * from music_library")
except psycopg2.Error as e:
    print("error in displaying the table")
    print(e)
    
curr.fetchall()

[(2, 'Let It be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])]